// Variaables
$green: #46e1b6;
$left-space: 40px;

.new_order_container {
    display: flex;
}

.box_container {
    max-width: 440px;
    width: 100%;
    max-height: 763px;
    background-color: #06090e;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: solid 1px #1f242d;
    justify-content: space-between;

    &:first-child {
        margin-right: 60px;
    }

    .top_wrapper {
        padding-top: 30px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    
    .center_wrapper {
        // height: 100%;
        margin-bottom: auto;
    }

    .bottom_wrapper {
        text-align: center;
        padding: 50px 0;
        border-top: solid 2px #1f242d;
        width: 80%;
        margin: 0 auto;

        .summary {
            margin-bottom: 50px;
            font-size: 22px;
            font-weight: bold;
    
            .price {
                color: $green;
                margin-left: 5px;
            }
        }

        .place_order{
            background: $green;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            padding: 15px 40px;
            border:none;
        }
    }

    h3{
        color: $green;
        font-weight: normal;
        margin: 0 0 20px;
        text-align: center;
    }

    .search_container {
        border-bottom: solid 1px #424a54;
        margin-left: $left-space;

        .search_icon {
            width: 15px;
            position: relative;
            top: 2px;
        }
        input {
            background: none;
            border:none;
            padding: 5px 10px;
        }
    }
    
    .grocery_list {
        padding: 0 20px 0 $left-space;
        margin: 0;
        height: 550px;
        overflow-y: scroll;

        li{
            color: $green;;
            list-style-type: none;
            font-size: 14px;
            border-bottom: solid 1px #1f242d;
            line-height: 33px;
            transition: all .4s ease-in-out;
            &:hover {
                background: #1f242d
            }
            
            label {
                padding: 7px 0;
                display: flex;
                position: relative;
                cursor: pointer;
                user-select: none;
            }

            span {
                color: #fff;
                width: 150px;
                margin-left: 40px;
                display: inline-block;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked ~ .checkmark {
                    // background-color: lime;
                }

                &:checked ~ .checkmark:after {
                    display: block;
                }
            }

            .checkmark {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 0;
                height: 15px;
                width: 15px;
                border: solid 1px #fff;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 5px;
                    top: 2px;
                    width: 3px;
                    height: 7px;
                    border: solid 1px #fff;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .selected_items_container {

        max-height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;

        .selected_item {
            background: #1f242d;
            max-width: 290px;
            width: 100%;
            margin: 15px auto;
            padding: 0 20px;
            border-radius: 13px;
            line-height: 34px;
            font-size: 14px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                &:first-child  {
                    width: 30px;
                    color: #fff
                }
                color: $green
            }

            .delete_btn {
                width: 14px;
                height: 14px;
                position: relative;
                cursor: pointer;
                transition: all .4s ease-in-out;

                &:hover {
                    transform: rotate(180deg);
                }

                &:before, &:after {
                    content: "";
                    width: 2px;
                    height: 15px;
                    background: #8393a8;
                    display: block;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 0;
                    left: 6px;
                }
                &:after {
                    transform: rotate(-45deg);
                    left: 6px;
                }
                
            }
        }
    }
}